body {
}

div.error {
    color: white;
    background-color: brown;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700%;
    line-height: 1;
    left: 200px;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}